<footer class="footer">
    <div class="footer-container">
        <div class="footer-section">
            <h3>To-Do List</h3>
            <p>Stay organized and productive with our simple and intuitive to-do list app.</p>
        </div>
        <div class="footer-section">
            <h4>Quick Links</h4>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/privacy-policy">Privacy Policy</a></li>
            </ul>
        </div>
        <div class="footer-section">
            <h4>Follow Us</h4>
            <div class="social-icons">
                <a href="https://x.com/sama_vikyath" target="_blank"><i class="fab fa-twitter"></i></a>
                <a href="https://www.facebook.com/samavikyath6394/" target="_blank"><i class="fab fa-facebook"></i></a>
                <a href="https://www.instagram.com/vikyath_reddy_sama/" target="_blank"><i class="fab fa-instagram"></i></a>
                <a href="https://github.com/VIKYATHB49/" target="_blank"><i class="fab fa-github"></i></a>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <p>&copy; <%= new Date().getFullYear() %> To-Do List App. All rights reserved.</p>
    </div>
</footer>